vtp-legacy/vsocket/.DS_Store
vtp-legacy/vsocket/src/.DS_Store
vtp-legacy/vsocket/src/app/.DS_Store
vtp-legacy/vsocket/src/vsocket/.DS_Store
vtp-legacy/.DS_Store
vtp-legacy/docs/.DS_Store
vtp-legacy/.DS_Store
.DS_Store
