/dev/sda:/mnt/disk0
/dev/sdb:/mnt/disk1
/dev/sdc:/mnt/disk2
/dev/sdd:/mnt/disk3
/dev/sde:/mnt/disk4
/dev/sdf:/mnt/disk5
/dev/sdg:/mnt/disk6
/dev/sdh:/mnt/disk7
/dev/sdi:/mnt/disk8
/dev/sdj:/mnt/disk9
/dev/sdk:/mnt/disk10
/dev/sdl:/mnt/disk11
/dev/sdm:/mnt/disk12
/dev/sdn:/mnt/disk13
/dev/sdo:/mnt/disk14
/dev/sdp:/mnt/disk15
/dev/sdq:/mnt/disk16
/dev/sdr:/mnt/disk17
/dev/sds:/mnt/disk18
/dev/sdt:/mnt/disk19
/dev/sdu:/mnt/disk20
/dev/sdv:/mnt/disk21
/dev/sdw:/mnt/disk22
/dev/sdx:/mnt/disk23
/dev/sdy:/mnt/disk24
/dev/sdz:/mnt/disk25
/dev/sdaa:/mnt/disk26
/dev/sdab:/mnt/disk27
/dev/sdac:/mnt/disk28
/dev/sdad:/mnt/disk29
/dev/sdae:/mnt/disk30
/dev/sdaf:/mnt/disk31
/dev/sdag:/mnt/disk32
/dev/sdah:/mnt/disk33
/dev/sdai:/mnt/disk34
/dev/sdaj:/mnt/disk35
/dev/sdak:/mnt/disk36
/dev/sdal:/mnt/disk37
/dev/sdam:/mnt/disk38
/dev/sdan:/mnt/disk39
